---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">We are a here to help.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contattaci</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Viale Vittorio Veneto 19, Centallo (CN)</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:direttivo@movicentallo.it"
              >direttivo@movicentallo.it</a
            >
          </div>
        </div>
      </div>
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Informazioni legali</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            
            <span class="text-gray-800">Denominazione  </span>  <span>CIRCOLO ACLI M.G. CENTALLO APS</span>
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            
            <span class="text-gray-800">Codice fiscale  </span>  <span>92006070046</span>
            
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            
            <span class="text-gray-800">P.IVA  </span>  <span>04060450048</span>
            
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            
            <span class="text-gray-800">Codice RUNTS  </span>  <span>64040</span>
            
          </div>
         
        
      </div>
    </div>
  </Container>
</Layout>
