---
import { contentfulClient } from "../lib/contentful";
import Event from "../components/event.astro";
import type Eventi from "../lib/types.ts"

import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";


const rawEntries = await contentfulClient.getEntries<Eventi>({
  content_type: "eventi",
});


const entries = rawEntries.items.filter((x) => {
  return new Date(x.fields.endDate) < new Date();
});



---

<Layout title="eventi">
  <div class="container mx-auto px-5">



    <Sectionhead>
      <Fragment slot="title">Eventi</Fragment>
      <Fragment slot="desc">Prossimamente al movicentallo</Fragment>
      
    </Sectionhead>
    <main >
      <ul class="grid gap-16 max-w-4xl mx-auto">
        
         {entries.map((item) => (
    
            <li> <Event entry={item} /> </li> 
        ))}
        

      </ul>
      
    </main>
  </div>
</Layout>



