---
import { contentfulClient } from "../lib/contentful";
import Event from "../components/event.astro";
import type Eventi from "../lib/types.ts"

import Layout from "@layouts/Layout.astro";
import Sectionhead from "@components/sectionhead.astro";


const rawEntries = await contentfulClient.getEntries<Eventi>({
  content_type: "eventi",
});


const entries = rawEntries.items.filter((x) => {
  return new Date(x.fields.endDate) > new Date();
});

entries.sort((a, b) => {
   return new Date(a.fields.endDate).getTime() - new Date(b.fields.startingDate).getTime();
});



---

<Layout title="eventi">
  <div class="container mx-auto px-5">



    <Sectionhead>
      <Fragment slot="title">Eventi 📆</Fragment>
      <Fragment slot="desc">Prossimamente al movi</Fragment>
      
    </Sectionhead>
    <main >
     
      {entries.length === 0 ? (
        <div class="pt-10">
        <div role="alert" class="alert">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="stroke-info h-6 w-6 shrink-0">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
          <span>Per ora nessun evento in programma 😢. Seguici sui social per rimanere aggiornato! </span>
        </div>
      </div>
      ) :  <ul class="grid gap-6 mt-6 max-w-4xl mx-auto">
        
        {entries.map((item) => (
   
           <li> <Event entry={item} /> </li> 
       ))}
       

     </ul>}
      
    </main>
  </div>
</Layout>



