---
import Hero from "@components/newHero.astro";
import Layout from "@layouts/Layout.astro";
import Introgrid from "@components/introgrid.astro";
import Blogpreview from "@components/blogpreview.astro";
//Event import
import { contentfulClient } from "../lib/contentful";
import Event from "../components/event.astro";
import type Eventi from "../lib/types.ts"


const entries = await contentfulClient.getEntries<Eventi>({
  content_type: "eventi",
});


---

<Layout title="Movi Centallo">
  <div class="container mx-auto px-5">
    <Hero />
    <h1 class="text-3xl font-bold pb-6 underline decoration-amber-500/30">Prossimi eventi</h1>
    {entries && entries.items.map((item) => (
      <Event entry={item} />
    ))}
    
    <Introgrid /> 

    <Blogpreview />
  </div>  
  
</Layout>
