---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Team from '../components/Team.astro';
import Testimonial from '../components/Testimonial.astro';
import Case from '../components/Case.astro';
import Cantoni from '../components/Cantoni.astro';
import Download from '../components/Download.astro';
---

<Layout title="Positivus">
	<main class="space-y-5">
		<Hero/>
		<Case/>
	
		<Team/>
		
		
	</main>
</Layout>