---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/newHero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
import IntroGrid from "@components/introgrid.astro";
import Introgrid from "@components/introgrid.astro";
import Manutenzione from "./manutenzione.astro";
---

<Layout title="Movi Centallo">
  <div class="container mx-auto">
    <Manutenzione />
  </div>  
  
</Layout>
