---
import Hero from "@components/hero.astro";
import Layout from "@layouts/Layout.astro";
import Introgrid from "@components/introgrid.astro";
import ProjectsMaster from "@components/ProjectsMaster.astro";
import ModalDialog from "@components/ModalDialog.astro";

import { contentfulClient } from "../lib/contentful";
import type Progetti from "../lib/types.ts"

const showModal = false; // Cambia a false per nascondere la dialog relativa ai cantoni

const rawEntries = await contentfulClient.getEntries<Progetti>({
  content_type: "progetti",
});

const orderedEntries = {
  ...rawEntries,
  items: rawEntries.items
    .sort((a, b) => new Date(b.fields.publishDate).getTime() - new Date(a.fields.publishDate).getTime())
    .slice(0, 4)
};

---


<Layout title="Movi Centallo">
  
  <div class="container mx-auto px-5">
    <!-- Open the modal using ID.showModal() method -->

   
    <ModalDialog showModal={showModal} />
    <Hero />
    <Introgrid />
    <section class="container mx-auto">
    <h1 class="text-3xl font-bold pb-6 underline decoration-sky-500/30">I nostri progetti</h1>
    <main class="container"> 
    <ProjectsMaster entries={orderedEntries.items} homepage={true}></ProjectsMaster>
       <div class="text-center mt-16">
        <a
          href="/progetti"
          class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
          >Vedi tutti i progetti <span class="animate-bounce">→</span></a
        >
      </div>  
    </div>
  </main>
  </div>  
  
</Layout>
