---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Team from '../components/Team.astro';
import Testimonial from '../components/Testimonial.astro';
import Case from '../components/Case.astro';
---

<Layout title="Positivus">
	<main class="space-y-20">
		<Hero/>
		
		<Case/>
		<Team/>
		<Testimonial/>
		
	</main>
</Layout>