---
import ProjectsMaster from "@components/ProjectsMaster.astro";
import { contentfulClient } from "../lib/contentful";
import Layout from "@layouts/Layout.astro";
import type Progetti from "../lib/types.ts"
import Sectionhead from "@components/sectionhead.astro";


const rawEntries = await contentfulClient.getEntries<Progetti>({
  content_type: "progetti",
});



/*const entries = rawEntries.items
.filter((x) => {
  return new Date(x.fields.publishDate) < new Date();
}).sort(function (a, b) {
  return b.fields.publishDate.valueOf() - a.fields.publishDate.valueOf();
});
*/

---
<Layout title="Progetti">

  <div class="container mx-auto px-5">
   <Sectionhead>
      <Fragment slot="title">Progetti</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <main class="mt-16">
    <ProjectsMaster entries={rawEntries.items}></ProjectsMaster>
    </main>
  </div>
</Layout>

