---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
{
    title: "Progetti",
    path: "/progetti",
  },
  {
    title: "Chi siamo",
    path: "/contact",
  },
  {
    title: "Contatti",
    path: "/contatti",
  } 
 
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-start items-center mt-4">
    <Astronav>
      <div class="flex w-full basis-2/6 lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <img src="/img/MoviLogo.png" alt="Logo" class="w-36" />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>              

                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                      <span> {item.title}</span>
                     
                    </a>
                  </li>
                
              </>
            ))
          }
        </ul>
        
      </MenuItems>
    </Astronav>
    
  </header>
</Container>
