---
import Container from "./Container.astro"
---
<Container>
<div class="flex-row items-center">
    <div>      
        <a href="/legal/Regolamento Ufficiale Torneo dei Cantoni 2025.pdf" target="_blank">
                <button class="btn btn-wide">🗎 Scarica il regolamento</button>
        </a>
    </div>
</div>


</Container>