---
import { Icon } from 'astro-icon/components'

---

<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Movimento Giovanile Centallo Â© {new Date().getFullYear()}
    
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
 
</footer>
