---
import Card from "@components/ui/card.astro";
import introCards from '../content/intro-cards.json';
    
---

<section class="my-20">
    
    <div class="flex flex-wrap justify-center">
      {introCards.map((card) => (
        <Card
          title={card.title}
          caption={card.caption}
          link={card.articles_link}
          ico={card.ico}
        />
      ))}
    </div>

</section>
