---
import { Image } from "astro:assets";
import heroImage from "assets/noi.webp"; // Path to the image in the static folder
---


<div class="hero max-h-screen py-4">
  <div class="hero-content p-0 gap-x-20  flex-col-reverse lg:flex-row-reverse">
    <Image
    src={heroImage}
    alt="Movi Centallo"
    width={1920}
    height={1080}
    quality="high"
    
    class="max-h-screen rounded-lg shadow-xl" /> 
    <div class="flex flex-col gap-2.5 ">
      <h1 class="text-5xl font-bold">Movimento Giovanile</h1>
     
     
      
      <p class="py-6">
        Realtà associativa che nasce nel cuore di Centallo nel 1989 come luogo di aggregazione della comunità centallese. 

      </p>
      
    </div>
  </div>
</div>

