---
import Container from "./Container.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <div class="row items-center py-5 md:pr-16 md:w-8/12 md:py-10">
        <div class="text-center md:text-left space-y-3 bg-lime">
            <h2 class="text-4xl font-medium leading-none sm:text-6xl">Come posso iscrivermi?</h2>
        </div>
    </div>
    
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">
                Ogni cantone si occuperà di creare in autonomia la propria squadra, contattando il proprio referente
                Il costo di iscrizione varia in base al numero di partecipanti per ogni cantone:
                <ul class="list-disc py-4 pl-10" >
                    <li> 8 a 14 persone: €28 a persona</li>
                    <li> da 15 a 22 persone: €25 a persona</li>
                    <li> da 23 a 27 persone: €20 a persona</li>
                    <li>da 28 a 30 persone: €15 a persona</li>
                </ul>
                Il costo comprende la partecipazione al torneo, una maglietta per ogni
                componente della squadra, una cena finale e l’assicurazione.
                </p>
            
        </div>
    </div>
</div>

</Container>