---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';



export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
---

<!DOCTYPE html>
<html lang="it" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    


    <meta name="generator" content={Astro.generator} />
    
    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Siamo un'associazione che nasce nel cuore di Centallo nel 1989, come luogo di aggregazione della comunità Centallese negli storici spazi del Movi."
      canonical={canonicalURL}

      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          
          title: `Movimento Giovanile | Centallo`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Movi",
        },
      }}
    />
  </head>
  <body>
    
    <slot />
    
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
